
@{
    Layout = null;
}

@model LIC_CMS.Models.ClientAssuranceModel

@using (Html.BeginForm())
{
    <div id="myClientModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                @*<div class="modal-header">
                        <h4 class="modal-title label-english">Create Country</h4>
                    </div>*@
                <div class="modal-body form-horizontal">


                    <ul class="nav nav-tabs">
                        <li id="abc" class="active"><a data-toggle="tab" href="#home"><i class="fa fa-user"></i>  Client Profile</a></li>
                        <li id="asd"><a data-toggle="tab" href="#menu"><i class="fa fa-asterisk"></i>  Client Detail</a></li>
                        <li id="lkj"><a data-toggle="tab" href="#menu1"><i class="fa fa-envelope"></i>  Assurance Detail</a></li>
                    </ul>

                    <div class="tab-content">

                        <div id="home" class="tab-pane fade in active" style=" margin-top: 3%;">

                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.HiddenFor(x => x.CLIENT_ID)
                                        @Html.LabelFor(x => x.FIRST_NAME, new { @class = "control-lable" })
                                    </div>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(x => x.FIRST_NAME, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.FIRST_NAME, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.LabelFor(x => x.MIDDLE_NAME, new { @class = "control-lable" })
                                    </div>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(x => x.MIDDLE_NAME, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.MIDDLE_NAME, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.LabelFor(x => x.LAST_NAME, new { @class = "control-lable" })
                                    </div>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(x => x.LAST_NAME, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.LAST_NAME, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.LabelFor(x => x.PIN_CODE, new { @class = "control-lable" })
                                    </div>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(x => x.PIN_CODE, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.PIN_CODE, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div>


                            <div class="col-md-6">


                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.LabelFor(x => x.AADDRESS, new { @class = "control-lable" })
                                    </div>
                                    <div class="col-md-8">
                                        @Html.TextAreaFor(x => x.AADDRESS, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.AADDRESS, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.LabelFor(x => x.COUNTRY_ID, new { @class = "control-lable" })
                                    </div>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(x => x.COUNTRY_ID, LIC_CMS.Areas.Admin.Models.StateModel.countrylist(), "-Select Country-", new { @onchange = "FillState()", @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.COUNTRY_ID, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.LabelFor(x => x.STATE_ID, new { @class = "control-lable" })
                                    </div>
                                    <div class="col-md-8">
                                        <select id='STATE_ID' name="STATE_ID" class="form-control" onchange="FillCity()">
                                            <option selected="">-Select State-</option>
                                        </select>
                                        @Html.ValidationMessageFor(x => x.STATE_ID, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.LabelFor(x => x.CITY_ID, new { @class = "control-lable" })
                                    </div>
                                    <div class="col-md-8">
                                        <select id='CITY_ID' name="CITY_ID" class="form-control">
                                            <option>-Select City-</option>
                                        </select>
                                        @Html.ValidationMessageFor(x => x.CITY_ID, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <a data-toggle="tab" href="#menu" onclick="nextclick()" class="btn btn-info">Next</a>
                        </div>


                        <div id="menu" class="tab-pane fade" style=" margin-top: 3%;">

                            <div class="col-md-6">


                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.LabelFor(x => x.DOB, new { @class = "control-lable" })
                                        @*<label class="control-lable">DOB</label>*@
                                    </div>
                                    <div class="col-md-8">
                                        @*@Html.TextBoxFor(x => x.DOB, new { @class = "form-control" })*@
                                        <div class='input-group date' id='DOB1'>
                                            <input type='text' class="form-control" id="DOB" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                        @Html.ValidationMessageFor(x => x.DOB, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.LabelFor(x => x.AGE, new { @class = "control-lable" })
                                    </div>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(x => x.AGE, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.AGE, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.LabelFor(x => x.MOBILE, new { @class = "control-lable" })
                                    </div>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(x => x.MOBILE, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.MOBILE, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.LabelFor(x => x.EMAIL, new { @class = "control-lable" })
                                    </div>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(x => x.EMAIL, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.EMAIL, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.LabelFor(x => x.WEIGHT, new { @class = "control-lable" })
                                    </div>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(x => x.WEIGHT, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.WEIGHT, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.LabelFor(x => x.HEIGHT, new { @class = "control-lable" })
                                    </div>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(x => x.HEIGHT, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.HEIGHT, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.LabelFor(x => x.IDENTITY_OF_BODY, new { @class = "control-lable" })
                                    </div>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(x => x.IDENTITY_OF_BODY, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.IDENTITY_OF_BODY, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.LabelFor(x => x.DOS, new { @class = "control-lable" })
                                    </div>
                                    <div class="col-md-8">
                                        @*@Html.TextBoxFor(x => x.DOS, new { @class = "form-control" })*@
                                        <div class='input-group date' id='DOS1'>
                                            <input type='text' class="form-control" id="DOS" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                        @Html.ValidationMessageFor(x => x.DOS, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <a data-toggle="tab" href="#home" onclick="previousclick1()" class="btn btn-info">Previous</a>
                            <a data-toggle="tab" href="#menu1" onclick="nextclick1()" class="btn btn-info">Next</a>
                        </div>


                        <div id="menu1" class="tab-pane fade" style=" margin-top: 3%;">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.HiddenFor(x => x.CLIENTASSURANCE_ID)
                                        @Html.LabelFor(x => x.PREMIUM, new { @class = "control-lable" })
                                    </div>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(x => x.PREMIUM, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.PREMIUM, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.LabelFor(x => x.MODE_ID, new { @class = "control-lable" })
                                    </div>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(x => x.MODE_ID, LIC_CMS.Models.ClientAssuranceModel.FillModeDropDown(), "-Select Mode-", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.MODE_ID, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.LabelFor(x => x.TERM_ID, new { @class = "control-lable" })
                                    </div>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(x => x.TERM_ID, LIC_CMS.Models.ClientAssuranceModel.FillTermDropDown(), "-Select Term-", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.TERM_ID, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.LabelFor(x => x.PLAN_ID, new { @class = "control-lable" })
                                    </div>
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(x => x.PLAN_ID, LIC_CMS.Models.ClientAssuranceModel.FillPlanDropDown(), "-Select Plan-", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.PLAN_ID, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.LabelFor(x => x.SUM_OF_ASSURANCE, new { @class = "control-lable" })
                                    </div>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(x => x.SUM_OF_ASSURANCE, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.SUM_OF_ASSURANCE, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.LabelFor(x => x.DATE_OF_MATURITY, new { @class = "control-lable" })
                                    </div>
                                    <div class="col-md-8">
                                        @*@Html.TextBoxFor(x => x.DATE_OF_MATURITY, new { @class = "form-control" })*@


                                        <div class='input-group date' id='DATE_OF_MATURITY1'>
                                            <input type='text' class="form-control" id="DATE_OF_MATURITY" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>

                                        @Html.ValidationMessageFor(x => x.DATE_OF_MATURITY, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.LabelFor(x => x.POLICY_NUMBER, new { @class = "control-lable" })
                                    </div>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(x => x.POLICY_NUMBER, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.POLICY_NUMBER, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-4">
                                        @Html.LabelFor(x => x.NOMINEE, new { @class = "control-lable" })
                                    </div>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(x => x.NOMINEE, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(x => x.NOMINEE, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <a data-toggle="tab" href="#menu" onclick="previousclick()" class="btn btn-info">Previous</a>
                            <input type="button" class="btn btn-info" value="Submit" id="addclient" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

<script>

    function FillState() {
        var countryid = document.getElementById("COUNTRY_ID").value;
        $.ajax({
            url: '/Admin/City/FillState',
            type: 'GET',
            data: 'countryid=' + countryid,
            success: function (state) {
                $("#STATE_ID").html("");
                $("#STATE_ID").append("<option value=''>-Select State-</option>");
                for (var s in state) {
                    $("#STATE_ID").append("<option value='" + state[s].Value + "'>" + state[s].Text + "</option>");
                }
            }
        });


    }
    function FillCity() {
        var stateid = $("#STATE_ID").val();
        $.ajax({
            url: '/Admin/City/FillCity',
            type: 'Get',
            data: 'stateid=' + stateid,
            success: function (response) {
                $("#CITY_ID").html("");
                $("#CITY_ID").append("<option value=''>-Select City-</option>");
                for (var c in response) {
                    $("#CITY_ID").append("<option value='" + response[c].Value + "'>" + response[c].Text + "</option>");
                }
            }
        });

    }
 
</script>