@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="col-md-12">
        <h4 class="page-head-line">User List</h4>
    </div>
</div>
<div><button type="button" class="btn btn-info load-model" data-toggle="modal" data-target="#myUserModal">Create User</button></div>
<div style="margin-top:17px">
    <div id="Data-Block">
    </div>
</div>
@model LIC_CMS.Areas.Admin.Models.UserModel

@using (Html.BeginForm("Create", "User", FormMethod.Post, new { @class = "form-horizontal",id="formuser" }))
{
    <div id="myUserModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title label-english">Create User</h4>
                </div>
                <div class="modal-body form-horizontal">
                    
                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.HiddenFor(x => x.USER_ID)
                            @Html.LabelFor(x => x.USER_NAME, new { @class = "control-label" })
                        </div>
                        <div class="col-md-5">
                           @Html.TextBoxFor(x => x.USER_NAME, new { @class = "form-control" })
                        </div>
                        <div class="col-md-4">
                            @Html.ValidationMessageFor(x => x.USER_NAME)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.LabelFor(x => x.PASSWORD, new { @class = "control-label" })
                        </div>
                        <div class="col-md-5">
                            @Html.PasswordFor(x => x.PASSWORD, new { @class = "form-control" })
                        </div>
                        <div class="col-md-4">
                            @Html.ValidationMessageFor(x => x.PASSWORD)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3">
                            @Html.LabelFor(x => x.CONFIRM_PASSWORD, new { @class = "control-label" })
                        </div>
                        <div class="col-md-5">
                            @Html.PasswordFor(x => x.CONFIRM_PASSWORD, new { @class = "form-control" })
                        </div>
                        <div class="col-md-4">
                            @Html.ValidationMessageFor(x => x.CONFIRM_PASSWORD)
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-3"></div>
                        <div class="col-md-5">
                            <input type="button" value="Submit" class="btn btn-info form-label" id="adduser">
                            <button type="button" class="btn btn-default" id="closemodel" data-dismiss="modal" onclick="clearForm()">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}


<script>
    $(document).ready(function () {
        loadContent();
    });

    function loadContent() {
        $.ajax({
            url: '@Url.Action("GetGrid", "User")',
            type: 'GET',
            success: function (d) {
                $("#Data-Block").append(d);
            }
        })
    }

    $('#adduser').click(function (e) {
        //$('#formuser').Validate();
        var Data = {};
        Data.USER_ID = $("#USER_ID").val();
        if (Data.USER_ID == '') {
            Data.USER_ID = 0;
        }
        Data.USER_NAME = $("#USER_NAME").val();
        Data.PASSWORD = $("#PASSWORD").val();
        Data.CONFIRM_PASSWORD = $("#CONFIRM_PASSWORD").val();

        $('.modal-backdrop').removeClass();

        if (Data.PASSWORD == Data.CONFIRM_PASSWORD) {
                $.ajax({
                    data: Data,
                    type: "POST",
                    url: '@Url.Action("Create","User")',
                    success: function (response) {
                        if (response == "Please fill all fields.") {
                            alert(response);
                        }
                        else {
                            $("#closemodel").click();
                            alert(response);
                            $("#Data-Block").empty();
                            loadContent();
                        }
                    },
                });
            
        }
        else {
            alert("Please confirm password not match to password.");
        }

    });

    function fillEditForm(id) {
        $.ajax({
            url: '@Url.Action("Edit","User")',
            type: 'GET',
            data: 'id=' + id,
            success: function (response) {
                $("#USER_ID").val(response.USER_ID);
                $("#USER_NAME").val(response.USER_NAME);
                $("#PASSWORD").val(response.PASSWORD);
            }
        });
    }

    function clearForm() {
        $("#USER_ID").val("");
        $("#USER_NAME").val("");
        $("#PASSWORD").val("");
        $("#CONFIRM_PASSWORD").val("");
    }
</script>







     
                        